<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->    
  <targets>
    <!--SMART_Log.txtというファイルに出力-->
    <target name="file" xsi:type="File" fileName="C:/temp/log/SMART_Log.txt" 
            layout="${longdate} ${level:uppercase=true}&#009;[{callsite}] ${message} ${onexception: ${newline} ${exception:format=Message, Type, ToString:separator=*}}"
            header="[${longdate}: ${processname} Start.]"
            footer="[${longdate}: End.]"/>
  </targets>    
  <rules>
    <!-- デバッグレベル以上のログをfileターゲットに出力-->
      <logger name="*" minlevel="Debug" writeTo="file" />
      <!--<logger name="*" minlevel="Warn" writeTo="file" /> -->
  </rules>
</nlog>
